.container {
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.95;
}
.footer {
  position: absolute;
  top: 0;
  left: 20%;
  font-size: larger;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke: 1px black;
}
.myName {
  text-decoration: none;
  color: red;
}
